/daily_work/pm1/nbproject/private/
/daily_work/crud1/nbproject/private/
/daily_work/crud1/build/
/daily_work/login2/nbproject/private/
/daily_work/login2/build/
/daily_work/login2/dist/
/daily_work/crud3/nbproject/private/
/daily_work/file_pm/nbproject/private/
/daily_work/file_pm/build/
/daily_work/angularDay1/nbproject/private/
/daily_work/angularDay1/build/
/daily_work/angu1/nbproject/private/
/daily_work/angu1/build/
/daily_work/filterAngular/nbproject/private/
/daily_work/filterAngular/build/
/daily_work/toDoList/nbproject/private/
/daily_work/toDoList/build/
/daily_work/toDoList/dist/